[mysqld]
user = mysql
datadir = /var/lib/mysql
pid-file = /run/mysqld/mysqld.pid
socket = /run/mysqld/mysqld.sock
basedir = /usr
datadir = /var/lib/mysql
bind_address=*
port = 3306
[mariadb]
[mariadb-10.11]